body {
  background-color: #ECF9FF;
}

a {
  color: inherit;
  text-decoration: none;
}

#title {
  text-align: center;
  font-family: cursive;
  font-size: 2.5rem;
  font-family: 'Aboreto', cursive;
}

#description {
  padding: 2% 12%;
  font-size: 2rem;
}

#start-btn {
  padding: 6px;
  font-weight: bolder;
  margin: 2%;
  font-size: 1rem;
}

.timer-score-box {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

#timer {
  height:2.5rem;
  font-size: 2rem;
  border: solid black 2px;
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
  padding: 6px;
  border-radius: 3px;
}

#score {
    width: 3rem;
  height:2.5rem;
  font-size: 2rem;
  border: solid black 2px;
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
  padding: 2px;
  border-radius: 3px;
}

.game-box {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#word-row {
  display: flex;
}

.letter-box {
  display:flex;
  justify-content: center;
/*   margin: 3px; */
  font-size: 2rem;
  width: 3rem;
  height: 2.5rem;
  border: solid black 2px;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: antiquewhite;
  padding: 2px;
}

.empty-box {
  display: flex;
  margin: 3px;
  font-size: 2rem;
  width: 3.5rem;
  height:3rem;
  border: solid black 2px;
  border-radius: 3px;
  padding: 3px;
}

#entry-row {
  display: flex;
}

.btn {
  background-color: antiquewhite;
}

.icon {
  width: 35px;
}

footer {
  text-align: center;
  padding: 8%;
}

.hidden {
  display: none;
}